@use '../abstracts' as *;

.reviews {
  display: grid;
  gap: calc((16 / 16) * 1em);
  width: 100%;
  max-width: 54rem;

  list-style: none;
  padding: 0;

  .review {
    display: grid;
    gap: calc((16 / 16) * 1em);
    justify-items: center;
    width: 100%;

    background: $clr-bg-secondary;
    border-radius: calc((8 / 16) * 1em);
    padding: calc((16 / 16) * 1em);

    @media (min-width: $breakpoint-sm) {
      grid-template: auto / max-content 1fr;
      gap: calc((32 / 16) * 1.2em);
      width: 44.5rem;
      justify-items: start;
      align-items: center;

      &.review1 {
        justify-self: start;
      }
      &.review2 {
        justify-self: center;
      }
      &.review3 {
        justify-self: end;
      }
    }

    &__stars {
      display: flex;
      flex-direction: row;
      gap: calc((8.45 / 16) * 1em);
    }

    &__description {
      font-weight: bold;
      font-size: 1.3rem;
      line-height: calc(15 / 13);
      color: $fc-primary;
      text-align: center;

      @media (min-width: $breakpoint-sm) {
        display: block;
        margin-top: 0.5em;
      }
    }
  }
}
